<!-- <html>
   <body>
      <form action = "http://127.0.0.1:5000/result" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "name" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>   
   </body>
</html> -->

<html>
   <head><h1>Insurance Charges Customer Details</h1></head>
   <body>
      <form action = "/result" method = "POST">
  
         <label>Enter Age:</label>
         <input type = "number" name = "age" placeholder="Enter Age"/></br></br>
         <label>Enter sex:</label>
         <input type = "text" name = "sex" placeholder="Enter sex"/></br></br>

         <label>Enter BMI:</label>
         <input type = "number" name = "bmi" placeholder="Enter BMI"/></br></br>

         <label>Enter number of children:</label>
         <input type = "number" name = "children" placeholder="Enter number of Children"/></br></br>
         
         <label>Enter smoking:</label>
         <input type = "text" name = "smoker" placeholder="Enter smoker"/></br></br>

         <label>Enter region:</label>
         <input type = "text" name = "region" placeholder="Enter region"/></br></br>

      
         
         <input type = "submit" value = "submit" />
      </form>   
   </body>
</html>
